.skeleton {
  width: 99%;
  border-radius: 10px;
  height: 15px;
  display: block;
  background: #888;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
